SVC_SAP_MM_0050.module/Schemas/.SAP/SAP/functionModules/ZMM_ETS_GR_LIST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZMM_ETS_GR_LIST" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZMM_ETS_GR_LIST" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZMM_ETS_GR_LIST_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZMM_ETS_GR_LIST_RequestParam"/>
    <xsd:complexType name="ZMM_ETS_GR_LIST_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="IT_TAB" type="tns:sequence_lsqb_ZMMS0600_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZMM_ETS_GR_LIST_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZMM_ETS_GR_LIST_ResponseParam"/>
    <xsd:complexType name="ZMM_ETS_GR_LIST_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="E_RESULT" r3:abapType="C" r3:document="실행결과 (S:성공, F:실패)" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="IT_TAB" type="tns:sequence_lsqb_ZMMS0600_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZMM_ETS_GR_LIST_FaultParam"/>
    <xsd:complexType name="ZMM_ETS_GR_LIST_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZMMS0600_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZMMS0600"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZMMS0600">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="COMPANY_CODE" nillable="true" r3:abapType="C" r3:document="법인 Company Code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_KEY" nillable="true" r3:abapType="C" r3:document="I/F KEY" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="8">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="17"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SEQ" nillable="true" r3:abapType="N" r3:document="I/F Seq" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="42">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_TYPE" nillable="true" r3:abapType="C" r3:document="I/F TYPE" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="48">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRAN_STATUS_CD" nillable="true" r3:abapType="C" r3:document="Transport Status" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="58">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ERR_CD" nillable="true" r3:abapType="C" r3:document="I/F Error Code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="62">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ERR_MSG" nillable="true" r3:abapType="C" r3:document="I/F Error Message" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="74">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRAN_DT" nillable="true" r3:abapType="D" r3:document="I/F Transport Date" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="474">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRAN_TM" nillable="true" r3:abapType="T" r3:document="I/F Transport Time" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="3" r3:offset="490">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RGST_DT" nillable="true" r3:abapType="D" r3:document="I/F Regist Date" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="502">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RGST_TM" nillable="true" r3:abapType="T" r3:document="I/F Regist Time" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="3" r3:offset="518">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RGST_ID" nillable="true" r3:abapType="C" r3:document="I/F Regist ID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="530">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZGRTYP" nillable="true" r3:abapType="C" r3:document="GR Type (01 : Local / 02 : Import)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="570">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MBLNR" nillable="true" r3:abapType="C" r3:document="자재문서번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="574">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MJAHR" nillable="true" r3:abapType="N" r3:document="자재 전표 연도" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="594">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZEILE" nillable="true" r3:abapType="N" r3:document="자재 전표 품목" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="602">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BWART" nillable="true" r3:abapType="C" r3:document="Movement type (e-Trust)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="610">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATNR" nillable="true" r3:abapType="C" r3:document="자재 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="618">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PLANT" nillable="true" r3:abapType="C" r3:document="플랜트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="654">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LGORT" nillable="true" r3:abapType="C" r3:document="저장 위치" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="662">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SHKZG" nillable="true" r3:abapType="C" r3:document="차변/대변 지시자" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="670">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MENGE" nillable="true" r3:abapType="C" r3:document="Quantity" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="672">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="17"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MEINS" nillable="true" r3:abapType="C" r3:document="Unit" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="706">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EBELN" nillable="true" r3:abapType="C" r3:document="구매 문서 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="712">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EBELP" nillable="true" r3:abapType="N" r3:document="구매 문서 품목 번호" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="732">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PO_NO" nillable="true" r3:abapType="C" r3:document="[MM] e-Trust PO" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="742">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PO_ITM_NO" nillable="true" r3:abapType="N" r3:document="[MM] e-Trust PO Item" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="842">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SJAHR" nillable="true" r3:abapType="N" r3:document="자재 전표 연도" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="862">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SMBLN" nillable="true" r3:abapType="C" r3:document="자재문서번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="870">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SMBLP" nillable="true" r3:abapType="N" r3:document="자재 전표 품목" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="890">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BUDAT" nillable="true" r3:abapType="C" r3:document="Posting date" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="898">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="INVNO" nillable="true" r3:abapType="C" r3:document="Invoice No" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="918">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BIZ_KEY" nillable="true" r3:abapType="C" r3:document="I/F Biz Key" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="978">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PROCAN_YN" nillable="true" r3:abapType="C" r3:document="Biz Process Status(Y/N)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1058">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PG_ID" nillable="true" r3:abapType="C" r3:document="Biz Program" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1060">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_REM" nillable="true" r3:abapType="C" r3:document="Remark" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1084">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BIZ_DT" nillable="true" r3:abapType="C" r3:document="Biz Process Date" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1484">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BIZ_TM" nillable="true" r3:abapType="C" r3:document="Biz Procees Time" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1500">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
