SVC_SAP_CS_0050.module/Schemas/.SAP/SAP/functionModules/ZCS_DOC_JOB_ASSIGN_7DAY.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZCS_DOC_JOB_ASSIGN_7DAY" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZCS_DOC_JOB_ASSIGN_7DAY" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZCS_DOC_JOB_ASSIGN_7DAY_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZCS_DOC_JOB_ASSIGN_7DAY_RequestParam"/>
    <xsd:complexType name="ZCS_DOC_JOB_ASSIGN_7DAY_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="I_ASSIGN_DOC" r3:abapType="C" r3:document="책임 닥터 강제 배정 여부" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_CNT" r3:abapType="C" r3:document="특이접수건(단체, 외장제) 10건이상은 'A'" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_CS18_YN" r3:abapType="C" r3:document="비데분리스팀(Z-CS18)" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_CS19_YN" r3:abapType="C" r3:document="비데분해세척(Z-CS19)" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_DOCTOR_PRO" r3:abapType="C" r3:document="전담닥터 배정여부" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_ETC_AUTH" r3:abapType="C" r3:document="기타주문 26일이후 배정권한" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_GOODS_CD" r3:abapType="C" r3:document="제품코드" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_IS_GUBUN" r3:abapType="C" r3:document="단일 문자 표시" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_JOB_DT_FR" r3:abapType="C" r3:document="작업예정일자_WEB_시작일자" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_JOB_DT_TO" r3:abapType="C" r3:document="작업예정일자_WEB_종료일자" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_JOB_TP" r3:abapType="C" r3:document="작업 구분" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_ORDER_NO" r3:abapType="C" r3:document="고객주문번호" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_RECV_DTL_TP" r3:abapType="C" r3:document="AS접수 상세유형" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_RECV_TP" r3:abapType="C" r3:document="AS 접수유형" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="7"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_RTN_YN" r3:abapType="C" r3:document="반환여부" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_SALE_ID" r3:abapType="C" r3:document="주문구분3_주문유형" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_URGENT" r3:abapType="C" r3:document="긴급여부" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_USER_ID" r3:abapType="C" r3:document="유저아이디" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_VKGRP" r3:abapType="C" r3:document="영업 그룹" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_XC_PERNR" r3:abapType="C" r3:document="실행자 사번" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_XC_SYSTEM" r3:abapType="C" r3:document="수행 시스템명" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_XC_S_TIME" r3:abapType="C" r3:document="RFC 호출 시간" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_ZIP_SEQ" r3:abapType="C" r3:document="우편일련번호" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ET_CU_INFO" type="tns:sequence_lsqb_ZCSS1609_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_EXPORT" type="tns:sequence_lsqb_ZCSS1608_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZCS_DOC_JOB_ASSIGN_7DAY_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZCS_DOC_JOB_ASSIGN_7DAY_ResponseParam"/>
    <xsd:complexType name="ZCS_DOC_JOB_ASSIGN_7DAY_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ES_RETURN" type="tns:ZCSS1001"/>
            <xsd:element minOccurs="0" name="E_DESC_TXT" r3:abapType="C" r3:document="특이사항" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_ING_TM_Z" r3:abapType="C" r3:document="(가완료)작업소요시간" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_NEXT_JOB_DT" r3:abapType="C" r3:document="작업배정불가시 다음 작업일" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_ORG_CD" r3:abapType="C" r3:document="조직코드" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_ORG_CD2" r3:abapType="C" r3:document="관리팀" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_ORG_CD_NM" r3:abapType="C" r3:document="조직명" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_PLAN_DT_Z" r3:abapType="C" r3:document="(가완료)작업예정일자" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_PLAN_TM_TP_Z" r3:abapType="C" r3:document="동일주문번호 일때 무조건 배정가능" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_PLAN_TM_Z" r3:abapType="C" r3:document="(가완료)약속시간" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_TEAM_CD" r3:abapType="C" r3:document="팀(배정조) 코드" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_TEL_NUMBER" r3:abapType="C" r3:document="지점전화번호" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_XC_E_TIME" r3:abapType="C" r3:document="RFC 종료 시간" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ET_CU_INFO" type="tns:sequence_lsqb_ZCSS1609_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_EXPORT" type="tns:sequence_lsqb_ZCSS1608_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZCS_DOC_JOB_ASSIGN_7DAY_FaultParam"/>
    <xsd:complexType name="ZCS_DOC_JOB_ASSIGN_7DAY_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCSS1609_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCSS1609"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1609">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ORDER_NO" nillable="true" r3:abapType="C" r3:document="고객주문번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUST_NM" nillable="true" r3:abapType="C" r3:document="이름 1" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="24">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="JOB_TP" nillable="true" r3:abapType="C" r3:document="작업 구분" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="104">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GOODS_CD" nillable="true" r3:abapType="C" r3:document="제품코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="106">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TEL_NUMBER" nillable="true" r3:abapType="C" r3:document="전화번호 30자리" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="142">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCSS1608_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCSS1608"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1608">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="JOB_DT" nillable="true" r3:abapType="C" r3:document="작업예정일자_WEB" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="JOB_T_GUBUN" nillable="true" r3:abapType="C" r3:document="구간 구분" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="20">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="JOB_S_RANGE_T" nillable="true" r3:abapType="C" r3:document="구간의 시작 시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="26">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="JOB_E_RANGE_T" nillable="true" r3:abapType="C" r3:document="구간의  끝 시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="34">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NON_ASSIGN_YN" nillable="true" r3:abapType="C" r3:document="배정가능여부" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="42">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EQ_CUSTOMER_YN" nillable="true" r3:abapType="C" r3:document="동일 고객 존재 여부" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="44">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TOTAL_TIME" nillable="true" r3:abapType="C" r3:document="배정구간의 총시간(업무별)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="46">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="POSSIBLE_T" nillable="true" r3:abapType="C" r3:document="배정구간내 가능 시간(업무별)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="54">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="OVER_ICON" nillable="true" r3:abapType="C" r3:document="작업 부하" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="62">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_NO" nillable="true" r3:abapType="C" r3:document="닥터" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="64">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_NAME" nillable="true" r3:abapType="C" r3:document="닥터이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="104">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_ROLE_TP" nillable="true" r3:abapType="C" r3:document="닥터구분" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="144">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_TELL" nillable="true" r3:abapType="C" r3:document="닥터 연락처" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="146">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CALL_ALLOW" nillable="true" r3:abapType="C" r3:document="당일콜허용여부" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="186">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ING_TM" nillable="true" r3:abapType="C" r3:document="작업소요시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="188">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IST_CNT" nillable="true" r3:abapType="C" r3:document="설치 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="194">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AS_CNT" nillable="true" r3:abapType="C" r3:document="AS 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="200">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MB_CNT" nillable="true" r3:abapType="C" r3:document="매변 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="206">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RTN_CNT" nillable="true" r3:abapType="C" r3:document="반환 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="212">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IST_CNT_C" nillable="true" r3:abapType="C" r3:document="설치 완료 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="218">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AS_CNT_C" nillable="true" r3:abapType="C" r3:document="AS 완료 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="224">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MB_CNT_C" nillable="true" r3:abapType="C" r3:document="매변  완료 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="230">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RTN_CNT_C" nillable="true" r3:abapType="C" r3:document="반환 완료 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="236">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IST_CNT_M" nillable="true" r3:abapType="C" r3:document="설치 최대 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="242">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AS_CNT_M" nillable="true" r3:abapType="C" r3:document="AS 최대 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="248">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MB_CNT_M" nillable="true" r3:abapType="C" r3:document="매변 최대 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="254">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RTN_CNT_M" nillable="true" r3:abapType="C" r3:document="반환 최대 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="260">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IST_DOCTOR_CNT" nillable="true" r3:abapType="C" r3:document="닥터별 하루 설치 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="266">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AS_DOCTOR_CNT" nillable="true" r3:abapType="C" r3:document="닥터별 하루 AS 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="272">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MB_DOCTOR_CNT" nillable="true" r3:abapType="C" r3:document="닥터별 하루 매변  건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="278">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RTN_DOCTOR_CNT" nillable="true" r3:abapType="C" r3:document="닥터별 하루 반환 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="284">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TOTAL_DOCTOR_CNT" nillable="true" r3:abapType="C" r3:document="닥터별 하루 배정 건수" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="290">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HOLIDAY_GB" nillable="true" r3:abapType="C" r3:document="휴일여부 (X:공휴일 6:토요일 7:일요일)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="296">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ASSIGN_YN" nillable="true" r3:abapType="C" r3:document="배정 불가  여부(68,69에서 가져옴)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="298">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STD_ING_TM" nillable="true" r3:abapType="C" r3:document="평균작업 소요시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="300">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TOT_ING_TM" nillable="true" r3:abapType="C" r3:document="전체작업 소요시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="306">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SUM_TOTAL_TIME" nillable="true" r3:abapType="C" r3:document="배정구간의 총시간(기본)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="312">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="JOB_TP_69" nillable="true" r3:abapType="C" r3:document="작업 구분" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="320">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="__1_FOR_4" nillable="true" r3:abapType="C" r3:document="30분단위업무진행여부(1/4)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="322">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="__2_FOR_4" nillable="true" r3:abapType="C" r3:document="30분단위업무진행여부(2/4)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="324">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="__3_FOR_4" nillable="true" r3:abapType="C" r3:document="30분단위업무진행여부(3/4)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="326">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="__4_FOR_4" nillable="true" r3:abapType="C" r3:document="30분단위업무진행여부(4/4)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="328">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_CD" nillable="true" r3:abapType="C" r3:document="조직코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="330">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_CD2" nillable="true" r3:abapType="C" r3:document="관리팀" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="336">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TEAM_CD" nillable="true" r3:abapType="C" r3:document="팀(배정조) 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="352">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORG_CD_NM" nillable="true" r3:abapType="C" r3:document="20자" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="356">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TEL_NUMBER" nillable="true" r3:abapType="C" r3:document="20자" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="396">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZSRSTX" nillable="true" r3:abapType="C" r3:document="급수텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="436">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZBSGTX" nillable="true" r3:abapType="C" r3:document="업무등급텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="496">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ROLE_TP" nillable="true" r3:abapType="C" r3:document="닥터 역할 구분(ZSDT9002-AS03)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="556">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FINISH_YN" nillable="true" r3:abapType="C" r3:document="마감양일여부" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="558">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MC_AREA" nillable="true" r3:abapType="C" r3:document="초과전용지역여부 '0' or ''" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="560">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="WORK_TP" nillable="true" r3:abapType="C" r3:document="근무형태" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="562">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PRIO_NUM" nillable="true" r3:abapType="C" r3:document="우선순위" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="566">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AS_CNT_IN" nillable="true" r3:abapType="C" r3:document="스폐셜서비스" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="568">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SUB_PERNR_NO" nillable="true" r3:abapType="C" r3:document="조직원코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="574">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1001">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="메시지 유형: S 성공, E 오류, W 경고, I 정보, A 중단" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CODE" nillable="true" r3:abapType="C" r3:document="메시지 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="메시지 텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="12">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
