SVC_SAP_ETC_0050.module/Schemas/.SAP/SAP/functionModules/ZAD_WEB_02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZAD_WEB_02" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZAD_WEB_02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZAD_WEB_02_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZAD_WEB_02_RequestParam"/>
    <xsd:complexType name="ZAD_WEB_02_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="I_FROM_DATE" r3:abapType="D" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_REPORT_TYPE" r3:abapType="C" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_TO_DATE" r3:abapType="D" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_USER_REQUEST" r3:abapType="C" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ET_AUDIT_REPORT_HEADER" type="tns:sequence_lsqb_ZADS0050_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_AUDIT_SAO_REPORT_DETAILS" type="tns:sequence_lsqb_ZADS0054_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_AUDIT_SAO_REPORT_SUMMARY" type="tns:sequence_lsqb_ZADS0053_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_ABNORMAL" type="tns:sequence_lsqb_ZADS0158_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_AUTH_CAT" type="tns:sequence_lsqb_ZADS0123_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_AUTH_NAME" type="tns:sequence_lsqb_ZADS0124_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZAD_WEB_02_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZAD_WEB_02_ResponseParam"/>
    <xsd:complexType name="ZAD_WEB_02_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ES_MESSAGE" type="tns:ZADS0051"/>
            <xsd:element minOccurs="0" name="E_ESB" type="tns:ZADS0052"/>
            <xsd:element minOccurs="0" name="ET_AUDIT_REPORT_HEADER" type="tns:sequence_lsqb_ZADS0050_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_AUDIT_SAO_REPORT_DETAILS" type="tns:sequence_lsqb_ZADS0054_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_AUDIT_SAO_REPORT_SUMMARY" type="tns:sequence_lsqb_ZADS0053_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_ABNORMAL" type="tns:sequence_lsqb_ZADS0158_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_AUTH_CAT" type="tns:sequence_lsqb_ZADS0123_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_AUTH_NAME" type="tns:sequence_lsqb_ZADS0124_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZAD_WEB_02_FaultParam"/>
    <xsd:complexType name="ZAD_WEB_02_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0050_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0050"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0050">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DATE_FROM" nillable="true" r3:abapType="D" r3:document="일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DATE_TO" nillable="true" r3:abapType="D" r3:document="일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="16">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ISSUE_BY" nillable="true" r3:abapType="C" r3:document="Issue by" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="32">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PROGRAM" nillable="true" r3:abapType="C" r3:document="ABAP 프로그램 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="72">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LAST_MODIFY" nillable="true" r3:abapType="D" r3:document="Last modify" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="152">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUL" nillable="true" r3:abapType="I" r3:document="CUL" r3:javaType="int" r3:jcoType="8" r3:offset="168">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUK" nillable="true" r3:abapType="I" r3:document="CUK" r3:javaType="int" r3:jcoType="8" r3:offset="172">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUM" nillable="true" r3:abapType="I" r3:document="CUM" r3:javaType="int" r3:jcoType="8" r3:offset="176">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUP" nillable="true" r3:abapType="I" r3:document="CUP" r3:javaType="int" r3:jcoType="8" r3:offset="180">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TOTAL" nillable="true" r3:abapType="I" r3:document="Total" r3:javaType="int" r3:jcoType="8" r3:offset="184">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LOGIC" nillable="true" r3:abapType="C" r3:document="Logic" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="188">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="REPORT_TYPE" nillable="true" r3:abapType="I" r3:document="Report Type" r3:javaType="int" r3:jcoType="8" r3:offset="348">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_BY" nillable="true" r3:abapType="C" r3:document="Created by" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="352">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_AT" nillable="true" r3:abapType="C" r3:document="Date/Time" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="376">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0054_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0054"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0054">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AUTH_CAT" nillable="true" r3:abapType="C" r3:document="Authorization Category" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AUTH_NAME" nillable="true" r3:abapType="C" r3:document="Authorization Name" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="80">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="USER" nillable="true" r3:abapType="C" r3:document="사용자이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="120">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="OWNER_NAME" nillable="true" r3:abapType="C" r3:document="Owner Name" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="144">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="USER_TYPE" nillable="true" r3:abapType="C" r3:document="User Type" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="224">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COMPANY" nillable="true" r3:abapType="C" r3:document="Company" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="244">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EFFECTIVE_FROM" nillable="true" r3:abapType="D" r3:document="Effective from" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="404">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EFFECTIVE_TO" nillable="true" r3:abapType="D" r3:document="Effective to" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="420">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DEV_ACCESS_KEY" nillable="true" r3:abapType="C" r3:document="Dev Access key" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="436">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AUTH_REASON" nillable="true" r3:abapType="C" r3:document="Authorization Reason" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="476">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NEED_CHECK" nillable="true" r3:abapType="C" r3:document="Need to check" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="636">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CHECKED" nillable="true" r3:abapType="C" r3:document="Checked" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="638">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DESCRIPTION" nillable="true" r3:abapType="C" r3:document="Description" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="640">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_BY" nillable="true" r3:abapType="C" r3:document="Created By" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="800">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_AT" nillable="true" r3:abapType="C" r3:document="Date/Time" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="824">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0053_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0053"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0053">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AUTH_CAT" nillable="true" r3:abapType="C" r3:document="Authorization Category" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AUTH_NAME" nillable="true" r3:abapType="C" r3:document="Authorization Name" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="80">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COUNT_OWNER" nillable="true" r3:abapType="I" r3:document="Count owners" r3:javaType="int" r3:jcoType="8" r3:offset="120">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COUNT_NEED_CHECK" nillable="true" r3:abapType="I" r3:document="Count Need to check" r3:javaType="int" r3:jcoType="8" r3:offset="124">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COUNT_CHECKED" nillable="true" r3:abapType="I" r3:document="Count Checked" r3:javaType="int" r3:jcoType="8" r3:offset="128">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_BY" nillable="true" r3:abapType="C" r3:document="Created By" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="132">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATE_AT" nillable="true" r3:abapType="C" r3:document="Date/Time" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="156">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0158_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0158"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0158">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ABNORMAL" nillable="true" r3:abapType="C" r3:document="Need to check" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0123_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0123"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0123">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AUTH_CAT" nillable="true" r3:abapType="C" r3:document="Authorization Category" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZADS0124_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZADS0124"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0124">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AUTH_NAME" nillable="true" r3:abapType="C" r3:document="Authorization Category Name" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0051">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="메시지 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="Message Description" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="60">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZADS0052">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="IF_ID" nillable="true" r3:abapType="C" r3:document="Interface ID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_UUID" nillable="true" r3:abapType="C" r3:document="UUID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="100">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_HOST" nillable="true" r3:abapType="C" r3:document="IF_HOST" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="172">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_DATE" nillable="true" r3:abapType="C" r3:document="Date/Time" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="372">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_ADDITIONAL_DATA" nillable="true" r3:abapType="C" r3:document="Additional fields for use" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="400">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_CD" nillable="true" r3:abapType="C" r3:document="Processing result code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="600">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_MSG" nillable="true" r3:abapType="C" r3:document="Processing result message" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="608">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
