SVC_SAP_HR_0050.module/Schemas/.SAP/SAP/functionModules/ZHR_HCG_PA0006.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZHR_HCG_PA0006" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZHR_HCG_PA0006" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZHR_HCG_PA0006_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZHR_HCG_PA0006_RequestParam"/>
    <xsd:complexType name="ZHR_HCG_PA0006_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="I_TAB" type="tns:ZHRSI368"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZHR_HCG_PA0006_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZHR_HCG_PA0006_ResponseParam"/>
    <xsd:complexType name="ZHR_HCG_PA0006_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="E_ESB" type="tns:ZCWSDCS7000"/>
            <xsd:element minOccurs="0" name="E_RET_CD" r3:abapType="C" r3:document="리턴코드(S:성공, E:오류)" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="E_RET_MSG" r3:abapType="g" r3:document="결과 메시지" r3:javaType="java.lang.String" r3:jcoType="29">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZHR_HCG_PA0006_FaultParam"/>
    <xsd:complexType name="ZHR_HCG_PA0006_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZHRSI368">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ACTTP" nillable="true" r3:abapType="C" r3:document="처리구분(I:신규,U:수정,D:삭제)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PERNR" nillable="true" r3:abapType="N" r3:document="ID No." r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SUBTY" nillable="true" r3:abapType="C" r3:document="하위 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="18">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BEGDA" nillable="true" r3:abapType="D" r3:document="시작일" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="26">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ENDDA" nillable="true" r3:abapType="D" r3:document="종료일" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="42">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LAND1" nillable="true" r3:abapType="C" r3:document="국가 키" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="58">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STATE" nillable="true" r3:abapType="C" r3:document="지역(시/도, 도, 군)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="64">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PSTLZ" nillable="true" r3:abapType="C" r3:document="우편번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="70">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STRAS" nillable="true" r3:abapType="C" r3:document="상세 주소 및 번지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="90">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LOCAT" nillable="true" r3:abapType="C" r3:document="두번째 주소라인" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="210">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COM01" nillable="true" r3:abapType="C" r3:document="통신 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="290">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NUM01" nillable="true" r3:abapType="C" r3:document="통신 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="298">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COM02" nillable="true" r3:abapType="C" r3:document="통신 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="338">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NUM02" nillable="true" r3:abapType="C" r3:document="통신 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="346">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COM03" nillable="true" r3:abapType="C" r3:document="통신 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="386">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NUM03" nillable="true" r3:abapType="C" r3:document="통신 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="394">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COM04" nillable="true" r3:abapType="C" r3:document="통신 유형" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="434">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NUM04" nillable="true" r3:abapType="C" r3:document="통신 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="442">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCWSDCS7000">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="IF_ID" nillable="true" r3:abapType="C" r3:document="인터페이스ID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_UUID" nillable="true" r3:abapType="C" r3:document="UUID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="40">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_HOST" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 호스트명(or IP Address)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="112">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_DATE" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 시간  (YYYYMMDDHH24miSS)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="312">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_ADDITIONAL_DATA" nillable="true" r3:abapType="C" r3:document="추가사용필드(향후 확장 대비)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="340">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_CD" nillable="true" r3:abapType="C" r3:document="처리결과 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="540">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_MSG" nillable="true" r3:abapType="C" r3:document="처리결과 메시지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="548">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
