SVC_SAP_HR_0050.module/Schemas/.SAP/SAP/functionModules/ZHR_HCG_F_CARD_001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZHR_HCG_F_CARD_001" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZHR_HCG_F_CARD_001" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZHR_HCG_F_CARD_001_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZHR_HCG_F_CARD_001_RequestParam"/>
    <xsd:complexType name="ZHR_HCG_F_CARD_001_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="I_BUKRS" r3:abapType="C" r3:document="회사코드" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_CARDCLS" r3:abapType="C" r3:document="'1':회사, '2':개인, '3':취소, ' ': 전체" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_CARDNUM" r3:abapType="C" r3:document="카드번호" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_EXFLG" r3:abapType="C" r3:document="'D':국내, 'F':해외, '%':전체" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_FINAL" r3:abapType="C" r3:document="'X':처리완료포함, ' ':처리대상" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_FROM_DATE" r3:abapType="D" r3:document="조회기간:시작" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_PERNR" r3:abapType="N" r3:document="사원번호" r3:javaType="java.lang.String" r3:jcoType="6">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="I_TO_DATE" r3:abapType="D" r3:document="조회기간:종료" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="T_INFO" type="tns:sequence_lsqb_ZSTFISWD02_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZHR_HCG_F_CARD_001_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZHR_HCG_F_CARD_001_ResponseParam"/>
    <xsd:complexType name="ZHR_HCG_F_CARD_001_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ES_CINFO" type="tns:ZSTFISWD01"/>
            <xsd:element minOccurs="0" name="ES_RETURN" type="tns:ZRETRETURN"/>
            <xsd:element minOccurs="0" name="E_ESB" type="tns:ZCWSDCS7000"/>
            <xsd:element minOccurs="0" name="T_INFO" type="tns:sequence_lsqb_ZSTFISWD02_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZHR_HCG_F_CARD_001_FaultParam"/>
    <xsd:complexType name="ZHR_HCG_F_CARD_001_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZSTFISWD02_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZSTFISWD02"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZSTFISWD02">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TRSTAT" nillable="true" r3:abapType="C" r3:document="거래구분 (0:정상, 1:취소)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRSTAT_TX" nillable="true" r3:abapType="C" r3:document="거래구분 명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="APVNO" nillable="true" r3:abapType="C" r3:document="승인번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="22">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDCLS" nillable="true" r3:abapType="C" r3:document="사용용도 (1:법인,2:개인, 3:취소)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="42">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDCLS_TX" nillable="true" r3:abapType="C" r3:document="사용용도 텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="44">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRDAT" nillable="true" r3:abapType="D" r3:document="거래일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="64">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TRZEIT" nillable="true" r3:abapType="T" r3:document="거래 시간" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="3" r3:offset="80">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NAME1" nillable="true" r3:abapType="C" r3:document="거래처명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="92">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AMOUNT" nillable="true" r3:abapType="C" r3:document="금액" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="162">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PROCAMT" nillable="true" r3:abapType="C" r3:document="처리금액" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="192">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SUPAMT" nillable="true" r3:abapType="C" r3:document="공급가액" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="222">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VATAMT" nillable="true" r3:abapType="C" r3:document="부가세" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="252">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TAXTYPE" nillable="true" r3:abapType="C" r3:document="과세유형 ( N:일반, F:면세,S:간이,C:폐업,E:오류)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="282">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TAXTYPET" nillable="true" r3:abapType="C" r3:document="과세유형 텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="284">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MWSKZ" nillable="true" r3:abapType="C" r3:document="부가가치세 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="324">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SETDAT" nillable="true" r3:abapType="D" r3:document="결제일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="328">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HKONT" nillable="true" r3:abapType="C" r3:document="총계정원장 계정" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="344">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HKONT_TX" nillable="true" r3:abapType="C" r3:document="계정명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="364">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KOSTL" nillable="true" r3:abapType="C" r3:document="코스트 센터" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="464">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SGTXT2" nillable="true" r3:abapType="C" r3:document="품목텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="484">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SGTXT" nillable="true" r3:abapType="C" r3:document="품목텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="584">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BSTAT" nillable="true" r3:abapType="C" r3:document="전표상태" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="684">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ADDRESS" nillable="true" r3:abapType="C" r3:document="주소" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="724">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STCD2" nillable="true" r3:abapType="C" r3:document="세금번호 2" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="844">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="11"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TELNO" nillable="true" r3:abapType="C" r3:document="가맹점전화번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="866">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SERVCAMT" nillable="true" r3:abapType="C" r3:document="봉사료" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="898">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PS_POSID" nillable="true" r3:abapType="C" r3:document="작업 분석 구조 요소(WBS 요소)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="928">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PS_POSNR" nillable="true" r3:abapType="N" r3:document="WBS 요소" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="976">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GJAHR" nillable="true" r3:abapType="N" r3:document="회계연도" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="992">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DOCV1" nillable="true" r3:abapType="C" r3:document="편철" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1000">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BELNR" nillable="true" r3:abapType="C" r3:document="회계 전표 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1002">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="AUFNR" nillable="true" r3:abapType="C" r3:document="오더 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1022">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BUDGET" nillable="true" r3:abapType="C" r3:document="예산" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1046">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="COMPANY" nillable="true" r3:abapType="C" r3:document="카드종류" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1076">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MCCCD" nillable="true" r3:abapType="C" r3:document="MCC코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1078">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MCCCDX" nillable="true" r3:abapType="C" r3:document="MCC코드명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1086">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RUSER" nillable="true" r3:abapType="N" r3:document="실사용자" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="1126">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RUSER_NM" nillable="true" r3:abapType="C" r3:document="사원 이름(성명으로 정렬 가능)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1142">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="메시지 유형: S 성공, E 오류, W 경고, I 정보, A 중단" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1202">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="메시지 텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1204">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VPTNR" nillable="true" r3:abapType="C" r3:document="파트너 계정 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="1644">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZSTFISWD01">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="BUKRS" nillable="true" r3:abapType="C" r3:document="회사 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PERNR" nillable="true" r3:abapType="N" r3:document="사원 번호" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="8">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SNAME" nillable="true" r3:abapType="C" r3:document="서버 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="24">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BUDAT" nillable="true" r3:abapType="D" r3:document="전표의 전기일" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="84">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KOSTL" nillable="true" r3:abapType="C" r3:document="코스트 센터" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="100">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KTEXT" nillable="true" r3:abapType="C" r3:document="일반이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="120">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="WAERS" nillable="true" r3:abapType="C" r3:document="통화 키" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="160">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KTOPL" nillable="true" r3:abapType="C" r3:document="계정과목표" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="170">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KOKRS" nillable="true" r3:abapType="C" r3:document="관리회계 영역" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="178">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDNO" nillable="true" r3:abapType="C" r3:document="카드번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="186">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GUBUN" nillable="true" r3:abapType="C" r3:document="법인카드구분" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="218">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LIFNR" nillable="true" r3:abapType="C" r3:document="공급업체 또는 채권자의 계정 번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="220">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FUSER" nillable="true" r3:abapType="C" r3:document="지정사용자" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="240">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDCM" nillable="true" r3:abapType="C" r3:document="카드회사" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="260">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PDATE" nillable="true" r3:abapType="N" r3:document="결제일(매달)" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="280">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PBANK" nillable="true" r3:abapType="C" r3:document="은행코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="284">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PBANN" nillable="true" r3:abapType="C" r3:document="계좌번호18" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="288">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="KOINH" nillable="true" r3:abapType="C" r3:document="계정 보유자 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="324">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BALDT" nillable="true" r3:abapType="D" r3:document="발급일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="444">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDST" nillable="true" r3:abapType="C" r3:document="카드상태" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="460">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DELDT" nillable="true" r3:abapType="D" r3:document="폐기일자" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="462">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GUBUN_TX" nillable="true" r3:abapType="C" r3:document="구분명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="478">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LIFNR_TX" nillable="true" r3:abapType="C" r3:document="성" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="486">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PBANK_TX" nillable="true" r3:abapType="C" r3:document="은행 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="546">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CARDST_TX" nillable="true" r3:abapType="C" r3:document="카드상태명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="666">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FUSER_TX" nillable="true" r3:abapType="C" r3:document="사원 그룹 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="674">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ORGTX" nillable="true" r3:abapType="C" r3:document="오브젝트 이름" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="714">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZRETRETURN">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="메시지 유형: S 성공, E 오류, W 경고, I 정보, A 중단" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="메시지 텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCWSDCS7000">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="IF_ID" nillable="true" r3:abapType="C" r3:document="인터페이스ID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_UUID" nillable="true" r3:abapType="C" r3:document="UUID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="40">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_HOST" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 호스트명(or IP Address)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="112">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_DATE" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 시간  (YYYYMMDDHH24miSS)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="312">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_ADDITIONAL_DATA" nillable="true" r3:abapType="C" r3:document="추가사용필드(향후 확장 대비)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="340">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_CD" nillable="true" r3:abapType="C" r3:document="처리결과 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="540">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_MSG" nillable="true" r3:abapType="C" r3:document="처리결과 메시지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="548">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
